img.d-inline-block.align-top {
  width: 85px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 5px;
}

.navbar-light .navbar-brand {
  color: white;
}

.firstrow,.secondrow,.thirdrow {
  display: inline-flex;
  padding: 15px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav {
  display: -webkit-inline-box;
  color: darkslategray;
  padding-right: 8px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin-left: 15px;
  margin-right: 15px;
  }

  .card-img-overlay {
    color: white;
  }

